*{
    background-color: black;
}
.header{
    position: absolute;
    top: 1%;
    color: blue;
    left: 46%;
}
.chart_1{
    margin-top: 4%;
    left: 0;
    right: 0;
    height: 150px;
    background-color: white;
    border-radius: 20px;
}
.pol{
    position: absolute;
    left: 2%;
    color: blue;
    background-color: transparent;
    font-weight: bolder;
    text-decoration: underline;
}